.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #aaffaa;
  }
  
  .upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .button-container {
    display: flex;
    align-items: center;
  }
  
  .upload-label {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .upload-input {
    display: none;
  }
  
  .result-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .processing-message {
    margin-top: 20px;
  }
  